@import 'tachyons.min.css';

.sans-serif     { font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; }
.h01            { height: .3rem; }
.bg-lightest-pink  { background-color: #FFE0DB; }

.bg-rainbow {
  background-color: #B7B7B7;
  -webkit-animation: rainbow 45s infinite;
  animation: rainbow 45s infinite;
  transition: all 45s ease-out;
}

.rainbow {
  background-color: #B7B7B7;
  -webkit-animation: rainbow 45s infinite;
  animation: rainbow 45s infinite;
  transition: all 45s ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbow-hover:hover {
  background-color: rgba(0,0,0,.5);
  -webkit-animation: rainbow 15s infinite;
  animation: rainbow 15s infinite;
  transition: all 15s ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    10% { background-color: #2F46E3; }
    20% { background-color: #AF97D6; }
    30% { background-color: #1F169C; }
    40% { background-color: #4CB586; }
    50% { background-color: #FAB929; }
    60% { background-color: #FFB39B; }
    70% { background-color: #141D34; }
    80% { background-color: #FF2F55; }
    90% { background-color: #6993FF; }
    95% { background-color: #FFC100; }
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
 from { opacity: 0; }
 to { opacity: 1; }
}

@keyframes fadeIn {
 from { opacity: 0; }
 to { opacity: 1; }
}

.fadeIn {
 -webkit-animation-name: fadeIn;
 animation-name: fadeIn;
}


/*CUSTOM*/
.nav-link:hover {
  border-bottom: solid 2px lightgray;
  padding-bottom: 0.5rem;
}
